.pic-page {
  margin-top: 25px;
  padding:30px 50px 20px 50px;
}
.pic-page__image-container {
  display: flex;
  justify-content: space-between;
  /* margin: 35px 50px 25px 50px; */
  margin: 0 auto;
  max-width: 1980px;
  padding: 0;
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
}
.pic-page_image-section {
  width: auto;
  border-radius: 15px 0 0 15px;
  position: relative;
  height: 600px;
}
.pic-page__content {
  width: 50%;
  position: relative;
  padding: 40px;
}
.pic-page-image {
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  width: 650px;
  height: 100%;
}
.tag-container {
  display: flex;
  gap: 20px;
}
.tags {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  padding: 4px 15px 4px 15px;
  color: white;
  border-radius: 50px;
  background-color: #0b3954;
  transition: all 200ms ease;
}
.tags:hover {
  transform: scale(1.05);
}
.pic-page__title {
  max-width: 520px;
  word-wrap: break-word;
  width: fit-content;
  overflow-wrap: break-word;
  margin-top: 25px;
  font-size: 40px;
  font-weight: 500;
}
.pic-page__like-count {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
  width: fit-content;
  border-radius: 50px;
}
.pic-page__like-count__text {
  font-weight: 300;
}
.pic-page__like-count__icon {
  color: #e85f5c;
}
.pic-page__description {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
}
.pic-page__content__buttons {
  margin-bottom: 100px;
  display: flex;
  gap: 12px;
  margin-top: 25px;
}
.button {
  text-decoration: none;
  padding: 12px 30px 12px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #0b3954;
  cursor: pointer;
}
.download-button {
  background-color: #e85f5c;
  transition: all 150ms ease;
}
.download-button:hover {
  background-color: #ce504e;
}
.share-button {
  transition: all 150ms ease;
  background-color: #627bff;
}
.share-button:hover {
  background-color: #4659b9;
}
.pic-page__user-info {
  z-index: 1;
  position: absolute;
  bottom: 30px;
  right: 30px;
  text-align: right;
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.199);
  padding: 10px 20px 10px 20px;
  width: fit-content;
  border-radius: 50px;
}
.pic-page__user-info__avatar {
  border-radius: 50px;
}
.pic-page__user-info__user-name {
  text-decoration: none;
  color: black;
  display: block;
}
.pic-page__user-info__name {
  font-weight: 300;
  margin-top: -5px;
}
