.hero-section{
  padding:50px 100px 25px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1980px;
  margin: 0 auto;
}
.hero-section__content{
  margin-top: -50px;
}
.hero-section__main-image{
  width: 500px;
  border-radius: 15px;
}
.hero-section__title{
  font-size: 60px;
  font-weight: 500;
}
.hero-section__info{
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
.images-info{
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
}
@media screen and (max-width:1250px){
  .hero-section{
    text-align: center;
    flex-direction: column-reverse;
  }
  .hero-section__content{
    margin-top: 20px;
  }
  .hero-section__content input{
    width: 100% !important;
  }
}
@media screen and (max-width:600px){
  .hero-section{
    padding: 25px;
  }
  .hero-section__main-image{
    width: 400px;
  }
  .hero-section__title{
    font-size: 40px;
  }
}
@media screen and (max-width:480px){
  .hero-section__title{
    font-size: 28px;
  }
  .hero-section__main-image{
    width: 300px;
  }
  .hero-section__info{
    font-size: 15px;
  }
}
@media screen and (max-width:350px){
  .hero-section__main-image{
    width: 200px;
  }
  .hero-section__title{
    font-size: 20px;
  }
  .hero-section__info{
    font-size: 10px;
  }
}