.search {
  position: relative;
  width: 500px;
  height: fit-content;
}
.search-input {
  background-color: var(--gray);
  width: 100%;
  padding: 13px 13px 13px 40px;
  border-radius: 50px;
  border: none;
}
.search-input:focus{
  outline: none;
}
.search-input::placeholder{
  font-weight: 300;
}
.search-icon {
  position: absolute;
  font-size: 20px;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #8e8e8e;
}
