.header-nav{
  display: flex;
  gap: 30px;
  list-style: none;
  flex-direction: row-reverse ;
}
.nav-link{
  color: var(--black);
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border-radius: 50px;
}
.nav-link:hover{
  color: black;
  background-color: rgba(0, 0, 0, 0.034);
}
