.header-nav{
  display: flex;
  gap: 50px;
  list-style: none;
  flex-direction: row-reverse ;
}
.nav-link{
  color: var(--black);
  text-decoration: none;
  font-weight: 300;
  cursor: pointer;
}
.nav-link:hover{
  color: black;
}
.hh{
  color: red !important;
}